{% extends "base.html" %}
{% block content %}

  <h1>Welcome to Shantanu Social</h1>

  <div style="padding-left: 15%;">
    <div class="fishy">
      <div class="body"></div>
      <div class="eye"></div>
      <div class="eye"></div>
      <div class="tail">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="wellden">

    <div id="scene">
      <div id="contents">

         <div div "bee_legs">
          <div id="front_leg" class ="legs"></div>
          <div id="back_leg" class = "legs"></div>
        </div> <!-- END OF LEGS -->

         <div id="the_wings">
          <div id="wing_one" class="wings"></div>
          <div id="wing_two" class="wings"></div>
           <div id="wing_highlight" >
             <div id="highlight_curve"></div>
           </div>
       </div> <!-- END OF WINGS -->
        <div id="tail"></div>


      <div id="bee_body">
        <div id="body_shine"></div>
        <div id="eye"></div>
        <div id= "the_stripes">

          <div id="stripe_one" class="stripes">
              <div class="stripe_shines"></div>
          </div>
          <div id="stripe_two" class="stripes">
             <div class="stripe_shines"></div>
          </div>
          <div id="stripe_three">
            <div class="stripe_shines"></div>
          </div>
        </div> <!-- END OF STRIPES -->
        <div id="body_highlight"></div>

      </div> <!-- END OF BEE BODY -->

       </div> <!-- END OF CONTENTS -->

      <div id="shadow"></div>
    </div> <!-- END OF SCENE -->

  </div>

{% endblock %}
